.article-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  max-width: 400px;
}

.article-image {
  max-width: 100%;
  height: auto;
}

.article-card {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 15px;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  border-radius: 8px; 
  background-color: whitesmoke; 
  transition: transform 0.3s ease-in-out; 


  &:hover {
    transform: scale(1.05); 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
}

.article-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px; 
  margin-top: 10px;
}


.loading-message {
  text-align: center;
  font-style: italic;
  color: #888;
  margin: 20px;
}